# Ignore __pycache__ folder
__pycache__/

# Ignore all __pycache__ folders and their contents within all subdirectories
**/__pycache__/

# Ignore all .ipynb_checkpoints folders and their contents within all subdirectories
**/.ipynb_checkpoints/

# Ignore all .DS_Store files and .DS_Store folders within all subdirectories
**/.DS_Store

# Ignore all virtual_documents
**/.virtual_documents
